
.center {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.logo-clip {
    background-image: url('./shared/assets/textlogo-clip.jpg');
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: brightness(95%);
}
.logo {
    width: max-content;
    font-size: 2.4rem;
    font-weight: bold;
}
