/* Reset */
:root {
  --secondary-color: rgb(196, 53, 37);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
a,
a:active {
  text-decoration: none;
}
li {
  list-style: none;
}
/* ensure images are responsive and dont overflow container */
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* Utility  */
.flex {
  display: flex;
  gap: var(--gap, 20px);
}
.flex-ai-c {
  align-items: center;
}
.grid {
  display: grid;
}
.container {
  padding-inline: 1rem;
  margin-inline: auto;
  max-width: 1000px;
}

.mb {
  margin-block: var(--margin-block, 20px);
}
.mi {
  margin-inline: var(--margin-inline, 20px);
}
.mi-auto {
  margin-inline: auto;
}

/* Custom */

/* input {
  margin-bottom: 1rem;
  padding-block: 0.8rem;
}
input:not(input[type="submit"]) {
  padding-left: 1rem;
  font-size: 1rem;
} */
/* form {
  display: flex;
  flex-direction: column;
} */
/* .formContainer {
  margin-top: 8rem;
  margin-inline: auto;
  padding-block: 1rem;
  max-width: 380px;
} */
/* .formContainer > * {
  margin-inline: 2.8rem;
} */
.formContainer-header,
.formContainer-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.formContainer-header {
  margin-bottom: 2rem;
}
.register-button {
  appearance: none;
  border: none;
  background-color: var(--secondary-color);
  height: 2.6rem;
  /* padding-block: 0.8rem; */
  cursor: pointer;
  border-radius: 4px;
  color: white;
}
.login-button {
  appearance: none;
  border: none;
  padding-block: 0.8rem;
  background-color: rgb(35, 35, 35);
  cursor: pointer;
  border-radius: 4px;
  color: white;
}
.register-button:hover {
  background-color: rgb(222, 98, 84);
}
.login-button:hover {
  background-color: rgb(60, 60, 60);
}
.or {
  text-align: center;
  margin-block: 0.8rem;
  font-weight: bold;
}

.formContainer-notification {
  margin-block: 1rem;
  padding: 1.6rem 1rem;
  background-color: rgb(245, 233, 196);
  border: 1px solid rgb(237, 222, 175);
  border-radius: 4px;
}

.deck-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.deck-list > *:not(:last-child) {
  margin-right: 20px;
}
.deck {
  position: relative;
  /* background-image: url("https://picsum.photos/400/200"); */
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  padding-top: 100px;
  margin-block: 20px;

  width: 300px;
  background-color: white;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* deck children */
.deck > * {
  background-color: white;
  padding: 12px 16px 16px 16px;
}
.deck-name {
  margin-bottom: 12px;
}
.deck-name-input {
  display: flex;
  height: 30px;
  width: 100%;
  margin-bottom: 12px;
}
.deck-name-input > input {
  width: 100%;
}

.deck-footer {
  display: flex;
  justify-content: space-between;
}
.button-container > *:not(:last-child) {
  margin-right: 6px;
}
.deck-button {
  padding: 2px 8px;
  cursor: pointer;
}

span {
  user-select: none;
  cursor: pointer;
}
code {
  padding: 4px 3px;
  border: 0.1rem solid #0000001a;
  margin-bottom: 10px;
  line-height: 2.6;
  border-radius: 8px;
}
.definition {
  background-color: #00a40026;
}
.meaning {
  background-color: #4287f526;
}
